[Unit]
Description=Crypto Trading Bot
After=network.target mysql.service redis.service

[Service]
Type=simple
User=www-data
WorkingDirectory=/var/www/www-root/data/www/systemetech.ru
Environment="PATH=/var/www/www-root/data/www/systemetech.ru/venv/bin"
ExecStart=/var/www/www-root/data/www/systemetech.ru/venv/bin/python main.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target