{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="alert alert-danger">
                <h4 class="alert-heading">Ошибка сервера (500)</h4>
                <p>Произошла внутренняя ошибка сервера. Пожалуйста, попробуйте позже.</p>
                <hr>
                <p class="mb-0">
                    <a href="/" class="btn btn-primary">Вернуться на главную</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}